<!DOCTYPE html>
<html lang="en" ng-app="location">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Distance Calculator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="angular.js"></script>
    <script src="distance.js"></script>
</head>

<body ng-controller="geo">
    Starting Position:
    <input type="text" ng-model="startPosition" ng-change="updateDistance()" />
    <br>Final Position:
    <input type="text" ng-model="finalPosition" ng-change="updateDistance()" />
    <br>
    <br>Raw: {{rawDistance}}
    <br>Distance: {{distance}}km
    <br>Bearing: {{bearing}}
</body>
