<div class="budget" ng-controller="Budget">
    <h2 ng-hide="app.budget">No Budget Found</h2>
    <h2 ng-show="app.budget">Income</h2>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr ng-repeat="budgetItem in income">
                <td>{{budgetItem.name}}</td>
                <td class="amount" width="10%">
                    <p class="amount" editable-text="budgetItem.amount" onbeforesave="validateAndUpdate('amount', $data)">{{budgetItem.amount | currency}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 ng-show="app.budget">Spending</h2>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr ng-repeat-start="budgetCategory in spending">
                <th>
                    <span class="glyphicon glyphicon-{{budgetCategory.icon}}"></span>
                    {{budgetCategory.name}} ({{budgetCategory.percentage*100 | number:0}}%)
                </th>
                <th class="amount" width="10%">{{budgetCategory.amount|currency}}</th>
                <th class="amount" width="10%"></th>
            </tr>
            <tr ng-repeat-end ng-repeat="budgetItem in budgetCategory.children">
                <td>{{budgetItem.name}}</td>
                <td class="amount">
                    <p class="amount" editable-text="budgetItem.amount" onbeforesave="validateAndUpdate('amount', $data)">{{budgetItem.amount | currency}}</p>
                </td>
                <td class="amount used" width="10%" ng-class="{good: budgetItem.used > 0, bad: budgetItem.used < 0, zero: budgetItem.used == 0}">
                    {{budgetItem.used|currency}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
