<div ng-controller="Planner" class="planner">
    <h2>Week 1</h2>
    <table class="table table-bordered table-stripped">
        <tbody>
            <tr>
                <th width="20%">Day</th>
                <th>Event</th>
                <th width="20%" class="amount">Amount</th>
            </tr>
            <tr ng-repeat="event in week1">
                <td class="date">
                    <p>{{event.date}}</p>
                </td>
                <td>
                    <p class="event">{{event.category}}</p>
                </td>
                <td class="amount">
                    <p>{{event.displayAmount | currency}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Week 2</h2>
    <table class="table table-bordered table-stripped">
        <tbody>
            <tr>
                <th width="20%">Day</th>
                <th>Event</th>
                <th width="20%" class="amount">Amount</th>
            </tr>
            <tr ng-repeat="event in week2">
                <td class="date">
                    <p>{{event.date}}</p>
                </td>
                <td>
                    <p class="event">{{event.category}}</p>
                </td>
                <td class="amount">
                    <p>{{event.displayAmount | currency}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
