<div class="form-group pay-period">
    <label class="control-label" ng-show="app.availableAccounts.length > 1">Account:</label>
    <select class="form-control" ng-show="app.availableAccounts.length > 1" ng-model="app.account" ng-options="p for p in app.availableAccounts" ng-change="app.updateApplicationScope()">
    </select>
    <label class="control-label">Pay Period:</label>
    <select class="form-control" ng-model="app.payPeriod" ng-options="p for p in app.availablePayPeriods" ng-change="app.updateApplicationScope()">
    </select>
    <div class="display-period">({{app.startDate|date:'M/d'}} - {{app.endDate|date:'M/d'}})
        <em ng-show="app.isCurrent">(current)</em>
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-default" ng-click="goToPreviousPayPeriod()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="goToCurrentPayPeriod()">
                <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="goToNextPayPeriod()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
