<div class="budget" ng-controller="Budget">
    <div ng-hide="app.budget">
        <h2>No budget, yet...</h2>
        <p>Do you want to <a href ng-click="copyPreviousBudget()">copy the budget</a> from last pay-period?</p>
    </div>
    <h2 ng-show="app.budget">Income</h2>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr ng-repeat="budgetItem in income">
                <td ng-click="filterItems(budgetItem.name)">{{budgetItem.name}}</td>
                <td class="amount" width="10%">
                    <p class="amount" editable-text="budgetItem.amount" onbeforesave="validateAndUpdate('income', budgetItem.name, $data)">{{budgetItem.amount | currency}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 ng-show="app.budget">Spending</h2>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr ng-repeat-start="budgetCategory in spending">
                <th>
                    <span class="glyphicon glyphicon-{{budgetCategory.icon}}"></span>
                    {{budgetCategory.name}} ({{budgetCategory.percentage*100 | number:0}}%)
                </th>
                <th class="amount" width="10%">{{budgetCategory.amount|currency}}</th>
                <th class="amount" width="10%"></th>
            </tr>
            <tr ng-repeat-end ng-repeat="budgetItem in budgetCategory.children">
                <td ng-click="filterItems(budgetItem.name)">{{budgetItem.name}}</td>
                <td class="amount">
                    <p class="amount" editable-text="budgetItem.amount" onbeforesave="validateAndUpdate('spending', budgetItem.name, $data)">{{budgetItem.amount | currency}}</p>
                </td>
                <td class="amount used" width="10%" ng-class="{good: budgetItem.used > 0, bad: budgetItem.used < 0, zero: budgetItem.used == 0}">
                    {{budgetItem.used|currency}}
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-if="app.budget">Don't click this: <span class="bad glyphicon glyphicon-fire" ng-click="resetBudget()"></span></p>
</div>
