<form class="editSettings" name="settings" role="form" ng-submit="submit()" ng-controller="Settings">
    <!-- Blackout Locations -->
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="newSettings.geoLocationEnabled" >
            GeoLocation Enabled
        </label>
        <span class="help glyphicon glyphicon-question-sign" 
            rel="popover"                     
            data-trigger="click" 
            data-container=".editSettings" 
            data-toggle="popover" 
            data-placement="bottom" 
            data-content="Determines if Geo-Location will be used to track new transaction locations."></span>
    </div>

    <div class="form-group arrayEdit">
        <label for="blackoutLocations">
            Blackout Locations
            <span class="help glyphicon glyphicon-question-sign" 
                rel="popover"                     
                data-trigger="click" 
                data-container=".editSettings" 
                data-toggle="popover" 
                data-placement="bottom" 
                data-content="Blackout Locations are places you want to avoid doing Geo-Location when adding new transactions.  A great example is your home.  You probably don't want to associate every transaction you enter at home to that location.\n\nPress the Plus (+) sign to add a new location.  Use the Globe icon to update an entry with your current position.  Use the Minus (-) sign to remove an entry."></span>
            <span class="icon add glyphicon glyphicon-plus-sign" ng-click="addBlackout()"></span>
        </label>
        <div class="row" ng-repeat="location in newSettings.blackoutPositions">
            <div class="col-xs-5">
                <input type="text" class="form-control" ng-model="location.latitude" required smart-float>
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" ng-model="location.longitude" required smart-float>
            </div>
            <div class="col-xs-1 icon">
                <span class="locate glyphicon glyphicon-globe" ng-click="locateBlackout($index)"></span>
                <span class="remove glyphicon glyphicon-minus-sign" ng-click="removeBlackout($index)"></span>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="suggestRadius">
            Suggestion Radius
            <span class="help glyphicon glyphicon-question-sign" 
                rel="popover"                     
                data-trigger="click" 
                data-container=".editSettings" 
                data-toggle="popover" 
                data-placement="bottom" 
                data-content="The radius (in meters) to search from your current position for recently used locations."></span>
        </label>
        <input type="number" name="suggestRadius" class="form-control suggestRadius" ng-model="newSettings.suggestionRadius" required integer>
    </div>
    
    <div class="form-group">
        <label for="maxSuggestions">
            Maximum Suggestions
            <span class="help glyphicon glyphicon-question-sign" 
                rel="popover"                     
                data-trigger="click" 
                data-container=".editSettings" 
                data-toggle="popover" 
                data-placement="bottom" 
                data-content="The number of idential suggestions per description.  Ex: If set to 3, then only up to 3 locations called 'Awesome Grocer' will be geotagged before suggestions drop off."></span>
        </label>
        <input type="number" name="maximumSuggestions" class="form-control suggestRadius" ng-model="newSettings.maximumSuggestions" required integer>
    </div>
    
    <div class="form-group arrayEdit">
        <label for="summaryCategories">
            Summary Categories
            <span class="help glyphicon glyphicon-question-sign" 
                rel="popover"                     
                data-trigger="click" 
                data-container=".editSettings" 
                data-toggle="popover" 
                data-placement="bottom" 
                data-content="Summary categories are the categories (and order) that you would like to see on the summary screen."></span>
            <span class="icon add glyphicon glyphicon-plus-sign" ng-click="addSummaryCategory()"></span>
        </label>
        <div class="row" ng-repeat="category in newSettings.summaryCategories track by $index">
            <div class="col-xs-9">
                <select class="form-control category" ng-model="newSettings.summaryCategories[$index]" ng-options="c.category as c.category group by c.group for c in app.flattenSpendingCategories()" required>
                </select>
            </div>
            <div class="col-xs-1 icon">
                <span ng-class="{disabled:($index == newSettings.summaryCategories.length-1)}" class="move glyphicon glyphicon-arrow-down" ng-click="moveDownSummaryCategory($index)"></span>
                <span ng-class="{disabled:($index == 0)}" class="move glyphicon glyphicon-arrow-up" disabled ng-click="moveUpSummaryCategory($index)"></span>
                <span class="remove glyphicon glyphicon-minus-sign" ng-click="removeSummaryCategory($index)"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-disabled="isSame() || isUpdating">SAVE</button>
        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
        <div ng-show="isUpdating" class="loading"></div>
    </div>
</form>