<div class="alert alert-danger">
    <h4>A few words of warning...</h4>
    <ul>
        <li>
            Removing a category will cause transactions to become unbound from that category. Not a HUGE deal, but it will make it hard to find transactions by the category you deleted.
        </li>
        <li>
            Transactions that have become unbound will still show the deleted category. However, if you edit the transaction, the old category will not be selectable (because, ya know... you deleted it and all)
        </li>
        <li>
            You
            <em>can</em>"re-add" a category and transactions will auto-magically get rebound. You're welcome.
        </li>
        <li>
            Deleting a parent category will delete
            <em>
                <strong>
                    <u>everything</u>
                </strong>
            </em>under it!! Don't say I didn't warn you.
        </li>
        <li>
            You
            <u>cannot</u>remove or move the "Income" category. That's just a bad idea anyhow. You need income or this whole thing is kind of pointless.
        </li>
    </ul>
    <h4>TL;DR
        <sup>(
            <a href="http://en.wikipedia.org/wiki/Wikipedia:Too_long;_didn't_read" target="_blank">what?!</a>)</sup>
    </h4>

    <ul>
        <li>
            Adding is GOOD.
        </li>
        <li>
            Removing is RISKY.
        </li>
        <li>
            No, you can't delete 'Income'. That was on purpose.
        </li>
    </ul>
</div>
<form class="editCategories" name="categories" role="form" ng-submit="submit()" ng-controller="Categories">
    <div class="form-group arrayEdit">
        <div class="row">
            <div class="col-sm-6">
                <div class="well" ng-repeat="category in newCategories track by $index">
                    <div class="row">
                        <div class="col-xs-9">
                            <div ng-if="category.text == 'Income'">
                                <strong>Income</strong>
                            </div>
                            <input ng-if="category.text != 'Income'" type="text" name="parentName" class="form-control" ng-model="category.text">
                        </div>
                        <div class="col-xs-3 icon">
                            <span ng-if="$index != 0" ng-class="{disabled:($index == 0) || ($index == newCategories.length-1)}" class="move glyphicon glyphicon-arrow-down" ng-click="moveDownParentCategory($index)"></span>
                            <span ng-if="$index != 0" ng-class="{disabled:($index < 2)}" class="move glyphicon glyphicon-arrow-up" disabled ng-click="moveUpParentCategory($index)"></span>
                            <span ng-if="$index != 0" class="remove glyphicon glyphicon-remove-circle" ng-click="removeParentCategory($index)"></span>
                        </div>
                    </div>
                    <div class="row" ng-if="category.text != 'Income'">
                        <div class="col-xs-6 iconSelect">
                            <select class="form-control" ng-model="category.icon" ng-options="i for i in icons" required>
                            </select>
                        </div>
                        <div class="col-xs-1 iconPreview">
                            <span class="glyphicon glyphicon-{{category.icon}}"></span>
                        </div>
                        <div class="col-xs-5"></div>
                    </div>
                    <div class="well">
                        <div class="row" ng-repeat="child in category.children track by $index">
                            <div class="col-xs-10">
                                <input type="text" class="form-control" ng-model="child">
                            </div>
                            <div class="col-xs-2 icon">
                                <span ng-class="{disabled:$index == category.children.length-1}" class="move glyphicon glyphicon-arrow-down" ng-click="moveDownCategory(category.text, $index)"></span>
                                <span ng-class="{disabled:$index == 0}" class="move glyphicon glyphicon-arrow-up" disabled ng-click="moveUpCategory(category.text, $index)"></span>
                                <span class="remove glyphicon glyphicon-remove-circle" ng-click="removeCategory(category.text, $index)"></span>
                            </div>
                        </div>
                        New:
                        <span class="add glyphicon glyphicon-plus-sign" ng-click="addCategory(category.text)"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        New Parent Category:
        <span class="add glyphicon glyphicon-plus-sign" ng-click="addParentCategory()"></span>
    </div>

</form>