body {
    padding-top:50px;
}

.affix-top,.affix{
    position: static;
    margin-top: 10px;
}

@media (min-width: 979px) {
    .affix-top {
        position: static;
        margin-top:30px;
        width:228px;
    }

    .affix {
        position: fixed;
        top:70px;
        width:228px;
    }
}

/* 
 * Transactions Module
 */
.transactions {
    margin: 20px 0 0 0;
    padding: 0;
}

.transactions p {
    margin: 0 0 10px 0;
}

.transactions .description {
    font-size: 130%;
    margin-bottom: 0;
}

.uncleared {
    font-style: italic;
    color: #888;
}

.trash span {
    margin-top: 3px;
}

.amount { font-weight: bold; white-space: nowrap; }

.Debit .amount:before {
    content: "-$";
}

.Credit .amount {
    color: green;
}

.Credit .amount:before {
    content: "$";
}

.transactions input, .transactions select {
    font-style: normal;
    color: black;
    font-size: 1.1em;
}
