 body {
     padding-top: 50px;
 }
 .amount {
     font-weight: bold;
     white-space: nowrap;
     text-align: right;
     padding-right: 0;
 }
 .endingBalance {
     color: green;
 }
 .bad .bankBalance,
 .bad .endingBalance {
     color: #b00;
 }
 .loading {
     width: 35px;
     height: 35px;
     background: url(img/loading.gif);
     float: right;
 }
 /*
 * Left Nav control
 */
 .affix-top,
 .affix {
     position: static;
     margin-top: 10px;
 }
 @media (min-width: 992px) {
     .affix-top {
         position: static;
         width: 225px;
     }
     .affix {
         position: fixed;
         top: 70px;
         width: 225px;
     }
 }
 @media (min-width: 1200px) {
     .affix-top {
         width: 260px;
     }
     .affix {
         width: 260px;
     }
 }
 .transactionSearch label {
     margin-top: 5px;
 }
 .transactionSearch .input-group-addon {
     cursor: pointer;
 }
 @media (min-width: 767px) {
     .transactionSearch {
         height: 34px;
     }
     .transactionSearch label {
         padding: 0;
     }
     .transactionSearch div {
         padding: 0 0 0 8px;
     }
 }
 /*
 * Pay period module
 */
 .pay-period em {
     color: #f08;
 }
 .pay-period .display-period {
     margin: 5px;
 }
 /*
 * Balance Module
 */
 .balance div {
     padding: 0;
     margin: 0;
 }
 .balance .amount {
     font-size: 1.2em;
 }
 /*
 * Transactions Module
 */
 .transactions {
     margin: 20px 0 0 0;
     padding: 0;
 }
 .transactions p {
     margin: 0 0 10px 0;
 }
 .transactions .description {
     font-size: 130%;
     margin-bottom: 0;
 }
 .transactions input,
 .transactions select {
     font-style: normal;
     color: black;
 }
 .uncleared {
     font-style: italic;
     color: #888;
 }
 .trash span {
     margin-top: 3px;
 }
 .Debit .amount p:before {
     content: "-";
 }
 .Credit .amount {
     color: green;
 }
 .transactionSearch {
     height: 64;
 }
 /**
 * New Transaction
 */
 input.ng-dirty.ng-invalid {
     border-color: #a94442;
 }
 .error-message {
     color: #a94442;
     font-style: italic;
 }
 .splits .row {
     margin-bottom: 5px;
 }
 .splits .row .add {
     color: green;
 }
 .splits .row .remove {
     color: #800;
 }
 .splits .row .add,
 .splits .row .remove {
     margin: 0;
     padding: 7px 0;
 }
 .splits .fixed-amount {
     padding: 2px 0 0 55px;
 }
 .suggestions ul {
     margin: 7px 0;
     padding: 0;
 }
 .suggestions li {
     list-style: none;
 }
 /**
 * Budget
 */
 .budget table {
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
 }
 .budget th {
     background: #eee;
     font-size: 1.15em;
 }
 .budget p {
     margin: 0;
 }
 .used.good {
     color: #080;
     background: #dfd;
 }
 .used.zero {
     color: #880;
     background: #ffd;
 }
 .used.bad {
     color: #800;
     background: #fdd;
 }
 /**
 * Planner
 */
 .planner .Credit .amount p {
     color: green;
 }
 .planner .Debit.week p {
     font-style: italic;
 }
 .planner td p {
     margin: 0;
 }
 .planner .past td {
     background: #eee;
 }
 /**
 * An now, my "Flagrant Disregard for Good Form"
 */
 .editable-click,
 a.editable-click,
 a.editable-click:hover {
     border-bottom: 0;
     color: inherit;
 }
 .date .editable-input.editable-has-buttons {
     width: 110px;
 }
 .amount .editable-input.editable-has-buttons {
     width: 90px;
 }