body {
    padding-top:50px;
}

/*
 * Left Nav control
 */
.affix-top,.affix{
    position: static;
    margin-top: 10px;
}

@media (min-width: 979px) {
    .affix-top {
        position: static;
        margin-top:30px;
        width:200px;
    }

    .affix {
        position: fixed;
        top:70px;
        width:228px;
    }
}

/*
 * Pay period module
 */
.pay-period em {
    color: #f08;
}

.pay-period .display-period { margin: 5px; }

/*
 * Balance Module
 */


/* 
 * Transactions Module
 */
.transactions {
    margin: 20px 0 0 0;
    padding: 0;
}

.transactions p {
    margin: 0 0 10px 0;
    border-bottom: 0;
}

.transactions .description {
    font-size: 130%;
    margin-bottom: 0;
}

.transactions input, .transactions select {
    font-style: normal;
    color: black;
}

.uncleared {
    font-style: italic;
    color: #888;
}

.trash span {
    margin-top: 3px;
}

.amount { font-weight: bold; white-space: nowrap; }

.Debit .amount:before {
    content: "-$";
}

.Credit .amount {
    color: green;
}

.Credit .amount:before {
    content: "$";
}

