<ng-include src="'modules/header.html'"></ng-include>
<!-- Begin Body -->
<div class="container">
    <h1>New Transaction</h1>
    <br>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" role="form" ng-submit="submit()" ng-controller="TransactionForm">
                <!-- Pay Period -->
                <div class="form-group">
                    <label for="category" class="col-sm-3 control-label">Pay Period</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="newTransaction.payPeriod" ng-options="p for p in app.availablePayPeriods">
                        </select>
                    </div>
                </div>

                <!-- Date -->
                <div class="form-group">
                    <label for="date" class="col-sm-3 control-label">Date</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="newTransaction.date" required>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group" data-validation-group="description">
                    <label for="description" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="newTransaction.description" required>
                    </div>
                </div>

                <!-- Category -->
                <div class="form-group">
                    <label for="category" class="col-sm-3 control-label">Category</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="newTransaction.category" ng-options="c.category as c.category group by c.group for c in app.flattenCategories()" required>
                        </select>
                    </div>
                </div>

                <!-- Type -->
                <div class="form-group" class="col-sm-3 control-label">
                    <label for="type" class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="newTransaction.type" ng-options="t for t in app.transactionTypes">
                        </select>
                    </div>
                </div>

                <!-- Cleared -->
                <div class="form-group">
                    <label for="cleared" class="col-sm-3 control-label">Cleared</label>
                    <div class="col-sm-9">
                        <input type="checkbox" class="input-sm" ng-model="newTransaction.cleared">
                    </div>
                </div>

                <!-- Amount -->
                <div class="form-group">
                    <label for="amount" class="col-sm-3 control-label">Amount</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" ng-model="newTransaction.amount" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
